body{
    background-color: rgb(104, 76, 57);
    margin: 0;
    padding: 60px;
}

.Main-Container{
    align-items: center;
    background-color: white;
    padding: 10px;
    margin: 5px;
}

p{
    text-align: center;
    font-size: 70px;
}

.images{
    margin: 60px;
    padding: 1px;
    border-radius: 15%;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px solid gray;
}

.images img{
    width: 160px;
    margin: 40px;
    border-radius: 10%;
}

